<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.khronokernel.electron-blocker.daemon</string>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.khronokernel.electron-blocker</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/PrivilegedHelperTools/Electron-Blocker.app/Contents/MacOS/electron-blocker</string>
	</array>
	<key>StandardOutPath</key>
	<string>/tmp/com.khronokernel.electron-blocker.daemon.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/com.khronokernel.electron-blocker.daemon.log</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
